

<section>
    <div class="container-fluid m-3">
        <div class="text-center">
            <h2 class="blueText">{{ note.title }}</h2>
            <hr>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid m-3">
        <div class="row">
            <div class="col-sm-12 row">
                <div class="col text-start">
                    <p class="pe-3 greenText"><span class="bold">Creada:</span> {{ note.date | date: 'medium' }}</p>
                </div>
                <div class="col text-end">
                    <p *ngIf="note.updateDate != undefined" class="pe-3 purpleText"><span class="bold">Editada:</span> {{ note.updateDate | date: 'medium' }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid m-3">
        <div class="row">
            <div class="col-sm-12">
                <p class="pe-3">{{ note.body }}</p>
            </div>
        </div>
    </div>
</section>