/* You can add global styles to this file, and also import other style files */
.blueText {
    color: #011f4b;
}

.greenText{
    color: #024b01;
}

.purpleText{
    color: #35014b;
}

.bold{
    font-weight: bold;
}

.pointer{
    cursor:pointer;
}

.shadow-sm .form-floating .text-area-height{
    min-height: 200px;
}
